@font-face {
  font-family: "Noah";
  src: url("b64---./Noah-Regular.eot---") format("embedded-opentype"),
    url("b64---./Noah-Regular.woff---") format("woff"),
    url("b64---./Noah-Regular.ttf---") format("truetype");

  font-style: normal;
  font-weight: normal;
}

.font-noah {
  font-family: "Noah";
}
